.inputFields {
    width:500px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: lightblue;
}

button {
    float:right;
}

input[type="text"] {
    height: 34px;
}

.checkbox.lead {
    width:500px;
    margin: 5px auto;
    padding: 15px 15px 15px 35px;
    border-radius: 10px;
    background-color: lightgray;
}

.checkbox.lead.strike {
    text-decoration:line-through;
}

.checkbox.lead.muted {
    opacity: 0.7;
}

/*.listItems {*/
    /*margin-top:20px;*/
    /*margin-bottom:20px;*/
    /*border-bottom:1px solid #D9DFE1;*/
/*}*/

/*p {*/
    /*display: inline-block;*/
/*}*/

/*input[type="checkbox"] {*/
    /*margin-top:10px;*/
/*}*/